#This is pointless
anyio==2.1.0
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
blis==0.4.1
catalogue==1.0.0
certifi==2020.12.5
py==3.7.0
